<!DOCTYPE html>
{% load static %}
{% include 'header.html' %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Blog Post </title>
   <style>
    body{
        background:url('/static/bg2.webp');
         background-repeat : no-repeat;
         background-attachment: fixed;
         background-size: 100% 100%;
        }
     .title{
     font-size:36px;
      color:#0f4d19;
      border-bottom:1px solid #779933;
      }
     .desc{
     color : #01796f;
        font-weight:lighter;
        font-family:moonlight;
        font-style:italic;
        font-size:18px;
        margin: 20px
        }
  </style>
</head>
<body>
  <hr><br>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="title text-center mt-4">{{data.title}}</h1>
        <!--/.Title -->

        <!-- Author -->
        <p class="desc lead">
          {{data.desc}}
          <a href="#"></a>
        </p>
        <!--/.Author -->
        <hr>
        <hr>
        </div>
        </div>
      </div>

    <!-- /.row -->
  <!-- /.container -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
{% include 'footer.html' %}